$BLACK: #1b2527;
$RAIN: #e0e0e0;
$WHITE: #ffffff;
$GREY: #b5b5b5;

$BLACK_DARK: #000000;
$NIGHT: #04363e;
$FOREST: #1c5458;
$TREE: #25545c;
$GRASS: #00ad5a;
$SEA: #00677e;
$SKY: #30a8ba;
$SOIL: #b99775;
$SOIL_LIGHT: #eee6de;
$ORANGE: #e48b05;

$WATER: #d7eff2;
$WIND: #edf2f2;
$AIR: #f0f3f3;
$CLOUD: #fafafa;
$LIGHT: #fefefe;
$SMOKE: #efefef;
$GREY2: #666666;
$GREY2: #b5b5b5;
$GREY3: #888888;

$SUN: #fefaec;
$SAND: #efc839;
$LAVA: #ff5e1f;
$FIRE: #b32d2d;
$FIRE_HOVER: #952a22;
$FLOWER: #dcacc7;
$LEAF: #acc4a0;
$OLIVE: #5e7e4e;
$SUNSET: #fef1f1;
$WHITE: #ffffff;
$ACTIVE_NOTIFICATION: #ffd8d3;

$DISABLED: rgba(37, 37, 37, 0.25); // #252525 25%
$HOVER: #004e60;
$HOVER2: #3093ba0a;
$HOVER3: #3093ba3d;
$HOVER_BTN: #3093ba04;

$SOIL: #b99775;
$SOIL_DARK: #a47b52;
$WATER_LIGHT: #eff9fa;
$LEAF_LIGHT: #f1f7ed;

$SEVERITY_MINOR_BG: #fdf8e8;
$SEVERITY_MAJOR_BG: #fdf1ec;

$ROW_WITH_EXT_BG: #f0f8f9;

$NEUTRAL_DARK: #babbbd;
$MIDNIGHT_MOSS: #e8eded;
